.containerLand {
    width: 100%;
    max-width: 600px;
    margin: auto; /* Center the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
  }
  
  .TestH1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .P {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .Imagee {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .Button_Landing {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .Button_Landing:hover {
    background-color: #0056b3;
  }
  